/* body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;} */
#old_LoginForm{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303647+0,303647+21,2f7aa3+60,2f7aa3+84,2f7aa3+100 */
	background: #303647; /* Old browsers */
	background: -moz-linear-gradient(top, #303647 0%, #303647 21%, #2f7aa3 60%, #2f7aa3 84%, #2f7aa3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #303647 0%,#303647 21%,#2f7aa3 60%,#2f7aa3 84%,#2f7aa3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #303647 0%,#303647 21%,#2f7aa3 60%,#2f7aa3 84%,#2f7aa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303647', endColorstr='#2f7aa3',GradientType=0 ); /* IE6-9 */	
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #004085 none repeat scroll 0 0;
  border-color: #004085;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

.mt-80{
    margin-top: 80px;
}

.mt-100{
    margin-top: 100px;
}

@media only screen and (max-width: 650px) {
    .main-div {
        max-width: inherit;
    }
}