<div class="container-fluid page-body-wrapper">


<nav class="position-fixed sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="mg-l5 mg-t1 mg-b2">
                    <div class="user-wrapper mb-0">
                        
                    </div>
                    
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="projetos">
                    <span class="menu-title">
                        <i class="fa fa-pencil mr-3"></i>
                        Projetos
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios">
                    <span class="menu-title">
                        <i class="fa fa-users mr-3"></i>
                        Desenvolvedores
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="horas">
                    <span class="menu-title">
                        <i class="fa fa-inbox mr-3"></i>
                        Horas de Projeto
                    </span>
                </a>
            </li>
        
        </ul>

    </nav>
    
    <ng-content></ng-content>


</div>
