/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

app-root {
    height: 100%;
}

#page-top {
    background-color: transparent;
}

.mg-r1 {
    margin-right: 10px !important;
}
.mg-r2 {
    margin-right: 20px !important;
}
.mg-r3 {
    margin-right: 30px !important;
}
.mg-r4 {
    margin-right: 40px !important;
}
.mg-r5 {
    margin-right: 50px !important;
}

.mg-t1 {
    margin-top: 10px !important;
}
.mg-t2 {
    margin-top: 20px !important;
}
.mg-t3 {
    margin-top: 30px !important;
}
.mg-t4 {
    margin-top: 40px !important;
}
.mg-t5 {
    margin-top: 50px !important;
}

.mg-l1 {
    margin-left: 10px !important;
}
.mg-l2 {
    margin-left: 20px !important;
}
.mg-l3 {
    margin-left: 30px !important;
}
.mg-l4 {
    margin-left: 40px !important;
}
.mg-l5 {
    margin-left: 50px !important;
}

.mg-b1 {
    margin-bottom: 10px !important;
}
.mg-b2 {
    margin-bottom: 20px !important;
}
.mg-b3 {
    margin-bottom: 30px !important;
}
.mg-b4 {
    margin-bottom: 40px !important;
}
.mg-b5 {
    margin-bottom: 50px !important;
}


.pd-t0 {
    padding-top: 0px !important;
}
.pd-t1 {
    padding-top: 10px !important;
}

.pd-b0{
    padding-bottom: 0px !important;
}

.hidden {
    display: none !important;
}

.swal-pdfview {
    width: 678px;
    min-height: 600px;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.modal-dialog {
    min-width: 800px;
}

.modal-content {
    background-color: #fff !important;
}

.modal {
    overflow: auto !important;
}